/*
    Title: lates-bobs-auto-repair.css
    Author: Jeremy Lates
    Date: 11/16/2023
*/
body {
  width: 960px;
  margin: auto;
  font-family: "Oswald", Verdana, Arial, sans-serif;
}
.app-header {
  /*text-align: center;*/
  margin-left: 175px;
}
.card-title {
  text-align: center;
  color: darkblue;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.input-card {
  width: 500px;
  height: 200px;
  margin-left: 215px;
  box-shadow: 5px 5px 5px 5px grey;
}
.results-card {
  display: none;
  width: 500px;
  height: 225px;
  margin-left: 215px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px 5px grey;
}
#btnAddProduct {
  background-color: darkblue;
  color: white;
  box-shadow: none;
  border: 0px;

  width: 250px;
}
#home-div {
  margin-left: 215px;
}
.form-field {
  margin-left: 50px;
}
#cart-message {
  font-size: 12px;
  color: #df546a;
  letter-spacing: 2px;
}
#cartIcon {
  margin-left: 225px;
}
i :hover {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  margin-left: 50px;
}
td,
th {
  border: 1px solid grey;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f3674;
  color: white;
  /* background-color: var(--table-header-background-color);
  color: var(--table-header-color); */
}
tr:hover {
  background-color: #d6a800;
  /* background-color: var(--table-hover-background-color);
  color: var(--table-hover-color); */
  cursor: pointer;
}
